<template name="App_notFound">
    <!-- Coming Soon Content -->
    <div class="content pulldown bg-black-op overflow-hidden animated fadeIn">
        <div class="row text-center push">
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                <!-- Title -->
                <h1 class="text-white push-5">Oops!</h1>
                <h2 class="h5 text-white-op push-5">Nothing to see here</h2>
                <!-- END Title -->
                <div class="text-white-op push-30">
                    The page you are looking for does not exist.
                </div>
                <!-- Link Home -->
                <div class="push-10">
                    <a class="btn btn-default" href="/" role="button"><i class="fa fa-plus"></i> Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</template>